<footer class="jumbotron bg-body-tertiary">
  <div class="tet-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2 text-center">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
            provident ea impedit, error aliquam minima voluptate laboriosam
            delectus tempora illo, odit omnis eius ad quod magnam, laborum enim
            aspernatur cupiditate.
          </p>
        </div>
      </div>
      <div class="text-center">
        <a href="" class="text-white me-4">
          <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa-brands fa-square-x-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa-brands fa-linkedin"></i> </a
        ><a href="" class="text-white me-4"> </a>
      </div>
    </div>
  </div>
</footer>
