<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ roleType }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Hello, {{ userLogged.name }} {{ userLogged.surname }} </h1>
    <p class="lead">
      <i class="fa-solid fa-gauge text-end"></i> Dashboard 
    </p>
    <hr class="my-2" />
    <div class="row mx-auto">
      <div class="col-md-4">
        <a class="nav-link" routerLink="/companies">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-building"></i> Companies</div>
            <div class="card-body">
              <p class="card-text">Data Company</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="/users-management">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-user"></i> Users</div>
            <div class="card-body">
              <p class="card-text">Users Data</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="/tracking">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-chart-simple"></i> Tracking</div>
            <div class="card-body">
              <p class="card-text">Data Monitoring</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-md-4">
        <a class="nav-link" routerLink="/documents">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-book"></i> Documentation</div>
            <div class="card-body">
              <p class="card-text">Manuals & Docs</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="/templates">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-pen-to-square"></i> Send Docs</div>
            <div class="card-body">
              <p class="card-text">Docs via Email</p>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/reminders">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-paper-plane"></i> Reminders</div>
          <div class="card-body">
            <p class="card-text">Send Reminders</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/installations">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-object-group"></i> Installations</div>
          <div class="card-body">
            <p class="card-text">Installation / Objects</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/dynamic-documents">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-list-check"></i> Dynamic Docs</div>
          <div class="card-body">
            <p class="card-text">Templates</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/description-template">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-lines-leaning"></i> Descriptions</div>
          <div class="card-body">
            <p class="card-text">Descrip Templates</p>
          </div>
        </div>
      </a>
    </div>
    <hr class="my-2">
    <p class="text-dark text-end"><i class="fa-regular fa-copyright"></i> by Zernike America Latina {{ currentYear }}</p>
  </div>
</div>
