<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ roleType }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Hola, {{ userLogged.name }} {{ userLogged.surname }} </h1>
    <p class="lead">
      <i class="fa-solid fa-gauge text-end"></i> Panel de Control 
    </p>
    <hr class="my-2" />
    <div class="row mx-auto">
      <div class="col-md-4">
        <a class="nav-link" routerLink="/companies">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-building"></i> Compañias</div>
            <div class="card-body">
              <p class="card-text">Datos de la Compañia</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="/users-management">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-user"></i> Usuarios</div>
            <div class="card-body">
              <p class="card-text">Datos de los Usuarios</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="/tracking">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-chart-simple"></i> Seguimiento</div>
            <div class="card-body">
              <p class="card-text">Monitoreo de Datos</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-md-4">
        <a class="nav-link" routerLink="/documents">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-book"></i> Documentacion</div>
            <div class="card-body">
              <p class="card-text">Manuales & Docs</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="/templates">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-pen-to-square"></i> Envio de Documentos</div>
            <div class="card-body">
              <p class="card-text">Documentos por Email</p>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/reminders">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-paper-plane"></i> Recordatorios</div>
          <div class="card-body">
            <p class="card-text">Enviar Recordatorios</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/installations">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-object-group"></i> Instalaciones</div>
          <div class="card-body">
            <p class="card-text">Instalaciones / Objectos</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/dynamic-documents">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-list-check"></i> Documentos Dinamicos</div>
          <div class="card-body">
            <p class="card-text">Templates</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="nav-link" routerLink="/description-template">
        <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header"><i class="fa-solid fa-lines-leaning"></i> Descripciones</div>
          <div class="card-body">
            <p class="card-text">Description Templates</p>
          </div>
        </div>
      </a>
    </div>
    <hr class="my-2">
    <p class="text-dark text-end"><i class="fa-regular fa-copyright"></i> desarrollado por Zernike America Latina {{ currentYear }}</p>
  </div>
</div>
