<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ userLogged.username }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-gears"></i> Ajustes</h1>
    <hr class="my-2" />
    <p class="lead">
      Administracion de Tipos de Instalacion
    </p>
    <hr class="my-2">
    <div class="row mx-auto">
      <div class="col-md-4">
        <a class="nav-link" routerLink="/historical-activities">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-outdent"></i> Historicos</div>
            <div class="card-body">
              <p class="card-text">Datos Historicos</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" routerLink="">
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
            <div class="card-header"><i class="fa-solid fa-font"></i> Idiomas</div>
            <div class="card-body">
              <p class="card-text">Ajustes de Idiomas</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

