<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor04"
      aria-controls="navbarColor04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/"
            ><i class="fa fa-home"></i> Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/dashboard"
            ><i class="fa-solid fa-gauge"></i> Dashboard</a
          >
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/dashboard"
            ><i class="fa-solid fa-pen-to-square"></i> Template</a
          >
        </li>

        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/dashboard"
            ><i class="fa-solid fa-file"></i> Document</a
          >
        </li>

        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/dashboard"
            ><i class="fa-solid fa-address-book"></i> Contact Us</a
          >
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/dashboard"
            ><i class="fa-solid fa-gears"></i> Settings</a
          >
        </li>

        <li *ngIf="!userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/login"
            ><i class="fa-solid fa-door-open"></i> Sign In</a
          >
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link"
            ><i class="fa-solid fa-door-closed"></i> Sign Out</a
          >
        </li>
      </ul>
      <form class="d-flex" *ngIf="userLoginOn">
        <input
          class="form-control me-sm-2"
          type="search"
          placeholder="Search"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
