<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end">
        <i class="fa-solid fa-user"></i> {{ userLogged.username }}
      </h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-building"></i> Companies</h1>
    <hr class="my-2" />
    <p class="lead">Company Management Area</p>
    <div class="row mt-2">
      <div class="col-md-4">
        <div class="card border-primary mb-3">
          <div class="card-header">Set New Company</div>
          <div class="card-body">
            <form [formGroup]="companyForm" (ngSubmit)="saveCompany()">
              <fieldset>
                <div class="form-group">
                  <label for="name" class="form-label mt-4"
                    >Company Name</label
                  >
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    id="name"
                    aria-describedby="emailHelp"
                    placeholder="Company Name"
                  />
                </div>
                <div class="form-group">
                  <label for="plant_type" class="form-label mt-4"
                    >Plant Type</label
                  >
                  <input
                    type="text"
                    formControlName="plant_type"
                    class="form-control"
                    id="plant_type"
                    placeholder="Plant Type"
                  />
                </div>
                <div class="form-group">
                  <label for="plant_code" class="form-label mt-4"
                    >Plant Code</label
                  >
                  <input
                    type="text"
                    formControlName="plant_code"
                    class="form-control"
                    id="plant_code"
                    placeholder="Plant Code"
                  />
                </div>
                <div class="form-group">
                  <label for="plant_name" class="form-label mt-4"
                    >Plant Name</label
                  >
                  <input
                    type="text"
                    formControlName="plant_name"
                    class="form-control"
                    id="plant_name"
                    placeholder="Plant Name"
                  />
                </div>
                <div class="form-group">
                  <label for="address" class="form-label mt-4"
                    >Address</label
                  >
                  <input
                    type="text"
                    formControlName="address"
                    class="form-control"
                    id="address"
                    placeholder="Address"
                  />
                </div>
                <div class="form-group">
                  <label for="phone" class="form-label mt-4"
                    >Phone Number</label
                  >
                  <input
                    type="text"
                    formControlName="phone"
                    class="form-control"
                    id="phone"
                    placeholder="Phone Number"
                  />
                </div>
                <div class="d-grid gap-2 mt-4 mb-3">
                  <button
                    class="btn btn-lg btn-primary"
                    type="submit"
                    [disabled]="companyForm.invalid"
                  >
                    <i class="fa-solid fa-plus"></i> Add New Company
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h5>Companies Registered</h5>
          <table *ngIf="companiesData.length > 0" class="table table-hover table-responsive table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Plant Type</th>
                <th>Plant Code</th>
                <th>Plant Name</th>
                <th>Mnt Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary" *ngFor="let item of companiesData">
                <td>{{ item.name }}</td>
                <td>{{ item.plant_type }}</td>
                <td>{{ item.plant_code }}</td>
                <td>{{ item.plant_name }}</td>
                <td>{{ item.createdAt | date : "yyyy-MM-dd" }}</td>
                <td>
                  <i (click)="updateCompany(item._id)" class="fa-solid fa-pen-to-square text-primary"></i>
                  <i (click)="deleteCompany(item._id)" class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 *ngIf="companiesData.length == 0" class="text-info mt-4">No data to display</h5>
        </div>
      </div>
    </div>
  </div>
</div>
