<app-nav></app-nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-sheet-plastic"></i> Templates View</h1>
    <hr class="my-2" />
    <p class="lead">
      Template Document
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <label for="exampleSelect1" class="form-label mt-4">Companies</label>
        <select class="form-select" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <label for="exampleSelect1" class="form-label mt-4">Templates</label>
        <select class="form-select" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <label for="exampleSelect1" class="form-label mt-4">Object Code</label>
        <select class="form-select" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
</div>
