<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ userLogged.username }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-list-check"></i> Dynamic Management</h1>
    <hr class="my-2" />
    <p class="lead">
      Dynamic Documents
    </p>
  </div>
  <div class="row mb-3">
    <!-- Folders -->
    <div class="col-md-6">
      <form [formGroup]="templateForm">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" formControlName="label"
            placeholder="Data Management Area:">
          <label for="floatingInput">New Template</label>
        </div>
        <hr class="my-2">
        <!-- Treeview -->
        <h5>Templates List</h5>
        <div *ngFor="let item of Templs">
          <ul class="tree">
            <li>
              <details open>
                <summary>
                  <div class="row">
                    <div class="col-sm-8">
                      <i class="fa-solid fa-caret-down"
                        (click)="selectedTempl(item._id); getTemplateName(item._id)"></i>
                      {{ item.label }}
                    </div>
                    <div class="col-sm-4 text-end">
                      <i class="fa-solid fa-pen-to-square text-primary"></i><i class="fa-solid fa-trash text-danger"
                        (click)="deleteModel(item._id)"></i>
                    </div>
                  </div>
                </summary>
                <ul>
                  <li *ngFor="let folder of item.folders">
                    <details>
                      <summary>
                        <div class="row">
                          <div class="col-sm-8">
                            <i class="fa-regular fa-folder" (click)="selectedTempl(folder._id)"></i>
                            {{ folder.fld_name }}
                          </div>
                          <div class="col-sm-4 text-end">
                            <i class="fa-solid fa-pen-to-square text-primary"></i><i
                              class="fa-solid fa-trash text-danger" (click)="deleteFolder(item._id)"></i>
                          </div>
                        </div>
                      </summary>
                      <ul *ngFor="let inp of folder.formfield">
                        <div class="row">
                          <div class="col-sm-8">
                            <li><i class="fa-regular fa-folder"></i> {{ inp.label }} </li>
                          </div>
                          <div class="col-sm-4 text-end">
                            <i class="fa-solid fa-pen-to-square text-primary"></i><i
                              class="fa-solid fa-trash text-danger"></i>
                          </div>
                        </div>
                      </ul>
                    </details>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </form>
      <hr class="my-2">
    </div>
    <!-- New Fields -->
    <div class="col-md-6">
      <div>
        <select class="form-select">
          <option value=""> -- Select Company -- </option>
          <option *ngFor="let option of companyData" [value]="option.name"> {{ option.name }} </option>
        </select>
      </div>
      <hr class="my-2">
      <legend><i class="fa-solid fa-table-list"></i> Template New Fields</legend>
      <hr class="my-2">
      <!-- Selected Model -->
      <div class="row">
        <div class="col-md-6 mb-2">
          <p class="text-success-emphasis"> {{ dataTempl }} </p>
        </div>
        <div class="col-md-6 mb-2">
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button" (click)="showForml()"><i class="fa-solid fa-plus"></i>
              New Field</button>
          </div>
        </div>
      </div>
      <!-- New Templates Fields -->
      <form *ngIf="showForm" [formGroup]="templForm">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" formControlName="fld_name"
            placeholder="Name Field">
          <label for="floatingInput">Name Field</label>
        </div>
        <div *ngIf="fld_name.invalid && (fld_name.dirty || fld_name.touched)" class="text-danger">
          <div *ngIf="fld_name.errors?.['required']">Name Field is required.</div>
          <div *ngIf="fld_name.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="checkbox" formControlName="is_container" value=""
            (change)="onChange($event)">
          <label class="form-check-label" for="flexCheckDefault">
            Is a Container
          </label>
        </div>
        <div class="form-floating mb-3" *ngIf="!showField">
          <input type="text" class="form-control mt-2" id="floatingInput" formControlName="label" placeholder="Order">
          <label for="floatingInput">Label</label>
        </div>
        <div>
          <div *ngIf="label.invalid && (label.dirty || label.touched)" class="text-danger">
            <div *ngIf="label.errors?.['required']">Must be lowercase.</div>
            <div *ngIf="label.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control mt-2" id="floatingInput" formControlName="order" placeholder="Order">
          <label for="floatingInput">Order</label>
        </div>
        <div *ngIf="!showField">
          <label for="exampleSelect1" class="form-label mt-2">Input Type</label>
          <select class="form-select" id="exampleSelect1" formControlName="type">
            <option value=""> -- Select Input Type --</option>
            <option *ngFor="let item of dataType" [value]="item.type"> {{ item.type }} </option>
          </select>
        </div>
        <div class="form-check mt-2" *ngIf="!showField">
          <input class="form-check-input mt-2" type="checkbox" formControlName="requ" value="">
          <label class="form-check-label" for="flexCheckDefault">
            Required
          </label>
        </div>
        <div *ngIf="!showField">
          <label for="exampleSelect3" class="form-label mt-2">Parent</label>
          <input type="text" class="form-control" formControlName="par">
        </div>
      </form>
    </div>
  </div>
  <hr class="my-2">
  <!-- Actions Buttons -->
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group mt-4">
        <button class="btn btn-lg btn-primary me-2" type="button"
          (click)="templateForm.invalid ? saveFields() : saveNewModel()"><i class="fa-solid fa-circle-check"></i>
          Save</button>
        <button class="btn btn-lg btn-warning" type="button"><i class="fa-solid fa-eraser" (click)="reset()"></i>
          Clear</button>
      </div>
    </div>
  </div>
</div>
