<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ userLogged.username }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-user"></i> Users Management</h1>
    <hr class="my-2" />
    <p class="lead">
      Users Management Area
    </p>
    <div class="row">
      <div class="col-md-3">
        <div class="card border-primary mb-3">
          <div class="card-header">Set New User</div>
          <div class="card-body">
            <form [formGroup]="userForm">
              <fieldset>
                <div class="form-group">
                  <label for="name" class="form-label mt-4">Username</label>
                  <input type="text" formControlName="username" class="form-control" id="username"
                    placeholder="Username" />
                </div>
                <div class="form-group">
                  <label for="name" class="form-label mt-4">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name" />
                </div>
                <div class="form-group">
                  <label for="name" class="form-label mt-4">Surname</label>
                  <input type="text" formControlName="surname" class="form-control" id="surname"
                    placeholder="Surname" />
                </div>
                <div class="form-group">
                  <label for="name" class="form-label mt-4">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" />
                </div>
                <div class="form-group">
                  <label for="name" class="form-label mt-4">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="password"
                    placeholder="Password" />
                </div>
                <div class="form-group">
                  <label for="name" class="form-label mt-4">Retype Password</label>
                  <input type="password" formControlName="repassword" class="form-control" id="repassword"
                    placeholder="Retype Password" />
                </div>
                <div class="form-group">
                  <label for="exampleSelect1" class="form-label mt-4">Roles</label>
                  <select class="form-select" formControlName="role">
                    <option value=""> -- Select Role -- </option>
                    <option *ngFor="let rol of totalRoles" [ngValue]="rol.role"> {{ rol.role }} </option>>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleSelect2" class="form-label mt-4">Company</label>
                  <select class="form-select" formControlName="company">
                    <option value=""> -- Select Company -- </option>
                    <option *ngFor="let item of totalCompanies" [ngValue]="item.name"> {{ item.name }} </option>
                  </select>
                </div>
                <div class="d-grid gap-2 mt-4 mb-3">
                  <button class="btn btn-lg btn-primary" type="submit" (click)="edit ? updateUser() : saveUser()"
                    [disabled]="userForm.invalid">
                    <i class="fa-solid fa-plus"></i> Save User
                  </button>
                  <button class="btn btn-lg btn-warning" type="reset" (click)="reset()">
                    <i class="fa-solid fa-soap"></i> Reset
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <h5>System Users</h5>
          <table class="table table-hover table-responsive table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Company</th>
                <th>Roles</th>
                <th>OPS</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info" *ngFor="let item of totalUsers">
                <td> {{ item.username }} </td>
                <td> {{ item.name }} </td>
                <td> {{ item.surname }} </td>
                <td> {{ item.email }} </td>
                <td *ngFor="let comp of item.company"> {{ comp.name }} </td>
                <td *ngFor="let rol of item.role"> {{ rol.role }} </td>
                <td>
                  <i (click)="fillUpdateUser(item._id)" class="fa-solid fa-pen-to-square text-primary"></i>
                  <i (click)="deleteUser(item._id)" class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 *ngIf="totalUsers.length == 0" class="text-info mt-4">No data to display</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="my-2" />
      <p class="lead">
        Roles
      </p>
      <hr class="my" />
      <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Add Roles</div>
          <div class="card-body">
            <form [formGroup]="roleForm">
              <fieldset>
                <div class="form-group">
                  <label for="rolName" class="form-label mt-4">Role Name</label>
                  <input type="text" formControlName="name" class="form-control" id="rolName" placeholder="Role Name">
                </div>
                <div class="d-grid gap-2 mt-4 mb-3">
                  <button (click)="edit ? updateRole() : saveRole()" class="btn btn-lg btn-primary" type="button"
                    [disabled]="roleForm.invalid"> <i class="fa-solid fa-plus"></i> Add
                    Role</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h5>Users System Roles</h5>
        <table class="table table-hover table-responsive table-stripe">
          <thead>
            <tr>
              <th scope="col">Role</th>
              <th scope="col">Ops</th>
            </tr>
          </thead>
          <tbody>

            <tr class="table-info" *ngFor="let item of totalRoles">
              <td scope="row"> {{ item.role }} </td>
              <td>
                <i (click)="fillUpdateRole(item._id)" class="fa-solid fa-pen-to-square text-primary"></i>
                <i (click)="deleteRoles(item._id)" class="fa-solid fa-trash text-danger"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
