<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end">
        <i class="fa-solid fa-user"></i> {{ userLogged.username }}
      </h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-clipboard"></i> Documentos Activos</h1>
    <hr class="my-2" />
    <p class="lead">
      Area de Gestion
    </p>
    <hr class="my-2">
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleSelect2" class="form-label mt-2">Seleccione un Item para su Busqueda</label>
        <select class="form-select" name="properties" [(ngModel)]="properties" multiple>
          <option value="adm"> Modelo de Datos </option>
          <option value="code"> Codigo </option>
          <option value="descrip"> Descripcion </option>
          <option value="company"> Compañia </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <label for="exampleSelect2" class="form-label mt-2">Ingrese su Busqueda</label>
      <input type="text" name="filterProperties" class="form-control form-control-lg" [(ngModel)]="filterProperty"
        placeholder="Buscar...">
    </div>
    <hr class="my-2">
  </div>
  <!-- Objs Lists -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Codigo</th>
            <th scope="col">Hoja de Trabajo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Modelo de Datos Asociado</th>
            <th scope="col">Fecha de Inicio</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark" *ngFor="let item of objsData | filter:filterProperty">
            <th scope="row">
              <i class="fa fa-check-circle"
                (click)="getObj(item._id); getObjTemplate(item._id); getObjComp(item._id); getTemplateLength(item._id)"></i>
            </th>
            <th scope="row"> {{ item.code }} </th>
            <td> {{ item.label[0].label }} </td>
            <td> {{ item.descrip }} </td>
            <td> {{ item.adm }} </td>
            <td> {{ item.createdAt | date : "dd-MM-yyyy" }} </td>
          </tr>
        </tbody>
      </table>
      <h5 *ngIf="objsData.length == 0" class="text-info mt-4 text-center">No hay datos para mostrar</h5>
    </div>
  </div>
  <!-- Template Form -->
  <form [formGroup]="tForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" [ngModel]="objInfo.code" formControlName="code">
          <label for="floatingInput">Instalacion / Objeto</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" [ngModel]="objInfo.adm" formControlName="adm">
          <label for="floatingInput">Modelo de Datos / Template</label>
        </div>
      </div>
    </div>
    <!-- Template Data -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" [ngModel]="objComp.company_name"
            formControlName="company">
          <label for="floatingInput">Compañia</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" [ngModel]="objComp.plant_name"
            formControlName="plant_name">
          <label for="floatingInput">Nombre de Planta</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" [ngModel]="objComp.plant_type"
            formControlName="plant_type">
          <label for=" floatingInput">Tipo de Planta</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" [ngModel]="objComp.plant_code"
            formControlName="plant_code">
          <label for="floatingInput">Codigo de Planta</label>
        </div>
      </div>
    </div>
    <hr class="my-2">
    <!-- Cards & Folders -->
    <div class="row">
      <!-- Three Folders -->
      <div *ngIf="showForm">
        <div class="col-md-12 mb-4">
          <div class="card border-dark mt-2 mb-4" *ngFor="let val of model.folders">
            <div class="card-header">
              {{ val.fld_name }}
              <div class="card-body" *ngFor="let iter of val.formfield; let ind = index">
                <label>{{ iter.label }} | {{ ind }}</label>
                <input class="form-control" type="{{ iter.type }}" formControlName="{{ ind }}">
              </div>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button" (click)="saveTemplate()"><i
                class="fa-solid fa-floppy-disk"></i>
              Guardar</button>
          </div>
        </div>
      </div>
      <!-- More 3 fields -->
      <div class="col-md-12 mb-4">
        <div *ngIf="!showForm">
          <div class="card border-dark mt-2 mb-4">
            <div class="card-header">
              {{ objInfo.adm }}
            </div>
            <div class="card-body" *ngFor="let item of model.folders; let ind = index">
              <label>{{ item.label }} | {{ ind }}</label>
              <input class="form-control" type="{{ item.type }}" formControlName="{{ ind }}">
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button" (click)="saveTemplate()"><i
                class="fa-solid fa-floppy-disk"></i>
              Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
