<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ userLogged.username }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-pen-to-square"></i> Templates Setup</h1>
    <hr class="my-2" />
    <p class="lead">
      Dynamics Documents
    </p>
    <div class="row">
      <div class="col-md-4">
        <legend><i class="fa-solid fa-list"></i> Data Management Area</legend>
        <p><span class="highlight">{{ userLogged.company[0].name }}</span> management elements of maintenance register
        </p>
        <!-- Template Form -->
        <form [formGroup]="template">
          <div *ngIf="userLogged.role[0].role === 'admin'">
            <select class="form-select" formControlName="companies">
              <option value=""> -- Select Company -- </option>
              <option *ngFor="let option of companyData" [value]="option.name"> {{ option.name }} </option>
            </select>
          </div>
          <div *ngIf="userLogged.role[0].role === 'user'">
            <select class="form-select" formControlName="companies">
              <option value=""> {{ userLogged.company[0].name }} </option>
            </select>
          </div>
          <div>
            <input type="text" class="form-control mt-2" formControlName="name" placeholder="Add Template Name">
          </div>
          <div>
            <input type="text" class="form-control mt-2" formControlName="type_obj" placeholder="Template Type" />
          </div>
        </form>
        <div class="d-grid gap-2">
          <button class="btn btn-lg btn-primary mt-2" type="button" [disabled]="!template.valid" (click)="saveObj()"><i
              class="fa-solid fa-plus"></i>
            New Template</button>
          <button class="btn btn-lg btn-warning" (click)="clear()" type="button"><i class="fa-solid fa-soap"></i>
            Reset</button>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Template</th>
              <th scope="col">Ops</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-dark" *ngFor="let opt of objData">
              <th scope="row"> {{ opt.name }} </th>
              <td>
                <i (click)="viewTemplate()" class="fa-solid fa-share-from-square"></i>
                <i (click)="editTemplate(opt._id)" class="fa-solid fa-puzzle-piece"></i>
                <i (click)="deleteTemplate(opt._id)" class="fa-solid fa-trash text-danger"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Fields Form -->
      <div class="col-md-8">
        <legend><i class="fa-solid fa-gear"></i> Template Setup</legend>
        <form [formGroup]="fields">
          <div>
            <input type="text" class="form-control mt-2" formControlName="name" placeholder="Input Name">
          </div>
          <div class="form-check">
            <input class="form-check-input mt-2" type="checkbox" value="" formControlName="container"
              (change)="onChange()">
            <label class="form-check-label" for="flexCheckDefault">
              Is a Container
            </label>
          </div>
          <div *ngIf="!verif">
            <input type="text" class="form-control mt-2" formControlName="label" placeholder="Input Label">
          </div>
          <div>
            <input type="number" class="form-control mt-2" formControlName="order" placeholder="Order">
          </div>
          <div>
            <select class="form-select mt-2" formControlName="type">
              <option value=""> -- Select Type -- </option>
              <option *ngFor="let option of dataType" [value]="option.type"> {{ option.type }} </option>
            </select>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input mt-2" type="checkbox" value="" formControlName="evtitle">
            <label class="form-check-label" for="flexCheckDefault">
              Is an Event Title
            </label>
          </div>
          <div class="form-check mt-2" *ngIf="!verif">
            <input class="form-check-input mt-2" type="checkbox" value="" formControlName="req">
            <label class="form-check-label" for="flexCheckDefault">
              Required
            </label>
          </div>
          <div>
            <select class="form-select mt-2" formControlName="temp">
              <option value=""> -- Select Template -- </option>
              <option *ngFor="let option of objData" [value]="option.name"> {{ option.name }} </option>
            </select>
          </div>
          <div>
            <select class="form-select mt-2" formControlName="par">
              <option value=""> -- Select Parent -- </option>
              <option *ngFor="let option of companyData" [value]="option.name"> {{ option.name }} </option>
            </select>
          </div>
          <div class="d-grid gap-2 mt-2">
            <button class="btn btn-lg btn-primary" (click)="verif ? newFields() : updateSubFields()" type="submit"
              [disabled]="!fields.valid"><i class="fa-solid fa-plus"></i>
              Add Field</button>
            <button class="btn btn-lg btn-warning" (click)="reset()" type="button"><i class="fa-solid fa-soap"></i>
              Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Historical Table -->
  <div class="row">
    <hr class="my-2">
    <h5><i class="fa-solid fa-book"></i> Historical Facts</h5>
    <hr class="my-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Template Name</th>
          <th scope="col">Build Day</th>
          <th scope="col">Edition Day</th>
          <th scope="col">Build User</th>
          <th scope="col">Editing User</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-dark" *ngFor="let opt of objData">
          <th scope="row"> {{ opt.name }} </th>
          <td> {{ opt.createdAt }} </td>
          <td> {{ opt.updatedAt}} </td>
          <td> {{ opt.build_user }} </td>
          <td> {{ opt.edit_user }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<pre></pre>
