<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ userLogged.username }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-pen-to-square"></i> Templates</h1>
    <hr class="my-2" />
    <p class="lead">
      Dynamics Documents
    </p>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">Data Management Area</p>
        <p><span class="highlight">{{ userLogged.company[0].name }}</span> management elemets of maintenance register</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5>Data Management Area: </h5>
        <div class="d-grid gap-2 mt-2">
          <button class="btn btn-lg btn-primary" type="button"><i class="fa-solid fa-plus"></i> Add Template</button>
        </div>
        <hr class="my-2">
        
      </div>
      <div class="col-md-6">
        <form *ngIf="userLogged.role[0].role === 'admin'" [formGroup]="template1">
          <label for="companies" class="form-label mt-4">Company</label>
          <select class="form-select" formControlName="companies">
            <option *ngFor="let option of companyData" [value]="option.name"> {{ option.name }} </option>
          </select>
        </form>
      </div>
      <hr class="my-2">
    </div>
  </div>
</div>
