<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-end"><i class="fa-solid fa-user"></i> {{ userLogged.username }}</h6>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"><i class="fa-solid fa-object-group"></i> Installation Management</h1>
    <hr class="my-2" />
    <div class="row">
      <div class="col-md-4">
        <form>
          <div *ngIf="userLogged.role[0].role === 'admin'">
            <select class="form-select">
              <option value=""> -- Select Company -- </option>
              <option *ngFor="let option of companyData" [value]="option.name"> {{ option.name }} </option>
            </select>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary mt-2" type="button" routerLink="/installation-config"><i class="fa-solid fa-plus"></i> New
              Installation</button>
          </div>
        </form>
      </div>
    </div>
    <hr class="my-2">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Type</th>
              <th scope="col">Description</th>
              <th scope="col">Associated Data Models</th>
              <th scope="col">Start Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-dark">
              <th scope="row">Dark</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
